/* default zero margin and paddinr everywere */
*, *:before, *:after {
    margin: 0;
    padding: 0;
}

/* links */
a, .linklike-button {
    color: #3B5998;
    text-decoration: none;
    cursor: pointer;
}

/* hover links */
a:hover, .linklike-button:hover {
    text-decoration: underline;
}

html {
    height: 100%;
    width: 100%;
    background-color: #F5FFFA;
    font-family: 'Raleway', sans-serif;
}

header {
    background: linear-gradient(#00BFFF, #0099FF);
    text-align: center;
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    margin-top: 10px;
    border-bottom: solid;
    border-color: blue;

    /* border radius */
    -moz-border-top-right-radius: 20px;
    -webkit-border-top-right: 20px;
    border-top-right-radius: 20px;
    -moz-border-bottom-right-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

/* head title */
header > div#head {
    height: 10px;
    line-height: 100px;
    vertical-align: middle;
    color: #E0FFFF;
}

/* logo image */
header > div#logo > a > img {
    height: 100px;
    width: 100px;
    float: left;

    /* free space on the right of the logo */
    margin-right: 10px;

    /* center logo horizontally and vertically */
    padding: 5px;
}

/* animate header resize */
header * {
  transition: all 0.2s;
  -moz-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
}

body {
    /* don't overflow horizontally when the sidebar is shown */
    overflow-x: hidden;
}

#sidebar {
    width: 200px;
    height: 100%;
    position: fixed;
    top: 123px;
    float:left;
    background-color: #222222;
    z-index: 0;
}

#sidebar-list {
    list-style: none;
}

#content {
    margin-top: 150px;
    margin-left: 200px;
    margin-right: 60px;
    position: relative;
    height: 100%;
    background-color: #F5FFFA;
    left: 20px;
    z-index: 1;
}

#content > h2 {
    text-align: center;
    color: #1E90FF;
}

#footer-bar {
    position: relative;
    margin-bottom: 10px;
    padding-top: 2px;
    padding-bottom: 5px;
    background: linear-gradient(#00BFFF, #0099FF);
    text-align: center;
    min-width: 100%;
    display: inline-block;
    color: #E0FFFF;
    border-bottom: solid;
    border-color: blue;
    z-index: 1;

    /* border radius */
    -moz-border-top-right-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    border-top-right-radius: 20px;
    -moz-border-bottom-right-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#footer-wrapper {
    background-color: #F5FFFA;
    position: relative;
    margin-top: 10px;
    z-index: 1;
}

.form-contour {
    border: 1px solid #AAAAAA;
    padding: 10px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

#sidebar-name {
    width: 180px;
    padding: 10px;
    margin-top: 10px;
    font-size: 1.2em;
    text-align: center;
    color: white;
}

#avatar {
    display: inline-block;
    width: 180px;
    height: auto;
    margin: 10px;
}

header a#login-button, header a#logout-button {
    float: right;
    margin-right: 30px;
}

header a#login-button button, header a#logout-button button {
    width: 100px;
}

.input-form {
    text-align: center;
}

/* buttons in the login form */
.input-form input, .input-form label, .input-field-big {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 250px;
    font-size: 1.2em;
}

.input-field-big {
    margin-left: 10px;
    margin-right: 10px;
}

/* input button which seems a plain link */
.input-form input.linklike-button {
    background: none;
    border: none;
    font-size: 1em;
}

.input-form input[type="file"] {
    width: auto;
    font-size: 1em;
}

#login-button-links {
    margin-top: 5px;
}

.form-left {
    float: left;
    padding: 5px;
}

.form-right {
    float: right;
    padding: 5px;
}

.sidebar-item {
    width: 200px;
    border-top: 1px solid #111;
    border-bottom: 1px solid #000;
}

.sidebar-item a {
    display: block;
    padding: 1em;
    background:
        linear-gradient(135deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    color: white;
    font-size: 1.2em;
    text-decoration: none;
    transition: color 0.2s, background 0.5s;
}

.sidebar-item a:hover {
    color: #1E90FF;
    background:
        linear-gradient(135deg, rgba(0,0,0,0) 0%, rgba(30,30,90,0.30) 100%);
}

/* Content moved right when showing the sidebar */
#wrapped {
    position: relative;
    top: 20px;
    display: inline-block;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    min-width: 100%;
    background-color: #F5FFFA;
    left: 0; /* needed for the sidebar animation */
    z-index: 1;
}

.rc-button {
    margin-top: 4px;
    text-align: center;
    font-size: 1.2em;
    padding-top: 2px;
    padding-bottom: 5px;
    color: #E0FFFF;
    background: linear-gradient(#1EA0FF, #1E80FF);
    border: 1px solid #111111;
    font-weight: bold;
    cursor: pointer;

    /* border radius */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    /* transition */
    transition: all 0.218s;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
}

.st-button {
    color: #555555;
    background: linear-gradient(#BBBBBB, #C0C0C0);
}

.error-page-message, .generic-page-message {
    text-align: center;
    font-size: 1.1em;
}

.error-page-image, .generic-page-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 120px;
}

header h1 {
    float: left;
}

.home-content {
    display: block;
    overflow: auto;
    height: 100%;
    text-align: center;
    font-size: 1.1em;
}

.error-message {
    visibility: visible;
    height: auto;
    text-align: center;
    font-size: 1em;
    width: 250px;
    background-color:#FFFF99;
    border: solid 0.1px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.confirm-message {
    text-align: center;
    font-size: 1em;
    width: 250px;
    background-color:#99FF99;
    border: solid 0.1px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.input-error {
    background-color: #FF9999;
}

/* smooth transition (select all the error message div in the form pages) */
input[id^="reg"][id*="field"] ~ div[id*="error"] {
  transition: all 1s;
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
}

/* smooth color change on invalid input fields */
input[id^="reg"][id*="field"] {
    transition: background-color 0.5s linear;
    -moz-transition: background-color 0.5s linear;
    -webkit-transition: background-color 0.5s linear;
    -o-transition: background-color 0.5s linear;
}

.error-hidden {
    display: hidden;
    visibility: hidden; /* needed for transition */
    height: 0px; /* needed for transition */
    border: hidden;
    margin: 0px;
    padding: 0px;
}

#preview-image {
    width: auto;
    height: auto;
    max-width: 150px;
    max-height: 150px;
}

.settings-div {
    float: left;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.settings-div-hidden {
    display: none;
    visibility: none;
}

.settings-block {
    float: left;
}

.settings-block > button, .settings-block > .settings-div {
    clear: both;
}

.settings-button {
    float: left;
    min-width: 280px;
}
